<div style="margin:5%;">
  
  <ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header">
      <h5 class="modal-title text-center">Detalhes estacionamento - A receber</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-user fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Tipo usuário</b><br/>
            {{price.userType}}
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.qtHours">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-clock-o fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Tempo</b><br/>
            {{price.qtHours}}  Horas
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.parkingLotPrice">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Valor</b><br/>
            R$ {{price.parkingLotPrice}}
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.totalAdditionalServices">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-cart-plus fa-2x"></i>
          </div>
          <div class="col col-3">
            <b>Adicionais</b><br/>
            R$ {{price.totalAdditionalServices}}
          </div>
          <div class="col col-6" style="padding:0px; font-size:0.8em; border-style:dashed !important; border-width: 1px; border-color:silver">            
            <div *ngIf="!price.descriptionServices" style="text-align:center">
              <i  class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin-top:5%"></i>
            </div>
            <div *ngFor="let descService of price.descriptionServices">
              <i>{{descService.description}} - R${{descService.price}}</i><br/>
            </div>
          </div>          
        </div>
      </div>

      <div class="form-group" *ngIf="price.totalParkingLot">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-usd fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Total</b><br/>
            R$ {{price.totalParkingLot}}
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">      
      <button *ngIf="!liberado" class="btn btn-primary" style="float:right" type="button" (click)="realizarSaida(price)">Realizar Saída</button>
      <button *ngIf="!liberado" class="btn btn-warning" style="float:right" type="button" (click)="d()">Fechar</button>      
      <button *ngIf="liberado" class="btn btn-success" style="float:right" type="button" (click)="d()">Fechar</button>
    </div>      
  </ng-template> 
  
  <ul class="list-group">
    <li class="list-group-item list-group-item-light"><b>Lista de Veículos no Pátio</b>      
    </li>  
  </ul>

  <ng2-smart-table [settings]="settings" [source]="listaVeiculos" 
  (edit)="openDetail($event, content)"></ng2-smart-table>

</div>