<ul class="list-group list-group-item-light" style="margin:2%; text-align:center">
  <li class="list-group-item list-group-item-light">
    <b>Funcionários</b>
  </li>              
<div class="row">
  <div class="col col-8">      
    <ul class="list-group" style="margin-top:1em">
      <li class="list-group-item list-group-item-light">
        <b>Consulta</b>
      </li>              
      <li class="list-group-item" *ngFor="let user of users">
        <div class="row">
          <div class="col col-5">
            {{user.name}}
          </div>
          <div class="col col-5">
            {{user.email}}
          </div>          
          <div class="col col-2">
            {{user.descRole}}
          </div>                  
          <!-- <div class="col col-1">
            <a href="javascript:void(0)" (click)="goDetail(user)" class="card-link">Editar</a>
          </div>           -->
        </div>                         
      </li>                         
    </ul>        
  </div>  
  <div class="col col-4">      
    <ul class="list-group" style="margin-top:1em">
      <li class="list-group-item list-group-item-light">
        <div class="row">
          <div class="col col-12">
              <b>Cadastro</b>
          </div>
          <!-- <div class="col col-3">
              <button class="btn btn-primary btn-sm" (click)="clear()">Novo</button>   
          </div> -->
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <div class="form-group">              
              <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="currentUser.name">              
            </div>
            <div class="form-group">              
              <input type="email" class="form-control" [(readonly)]="rdyOnly" placeholder="E-mail" [(ngModel)]="currentUser.email">              
            </div>
            <div class="input-group mb-3">
              <input [(type)]="inputType" class="form-control" placeholder="Senha" [(ngModel)]="currentUser.password" >
              <div class="input-group-append">
                <div class="input-group-text" id="basic-addon2" (mousedown)="inputType='text'" (mouseup)="inputType='password'"><i class="fa fa-eye"></i></div>
              </div>
            </div>           
            <div class="form-group">
              <select [(ngModel)]="currentUser.descRole" class="form-control form-control-sm">
                <option>Funcionário</option>
                <option>Administrador</option>                                
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align:right">
            <button class="btn btn-success " (click)="register()">Salvar</button>
            <!-- <button class="btn btn-danger " (click)="excluir()">Excluir</button> -->
          </div>
        </div> 
      </li>                    
    </ul>        
  </div>
</div>


