<div class="principal transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div style="height:100%; width:100%">
    <div class="row">
      <div class="col">
        <img class="logo" src="./assets/imgs/logo.png" />
      </div>
    </div>
    <div class="row list">
      <div class="col">
        <div class="list-item"> 
          <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" placeholder="Email">       
        </div>          
        <div class="list-item"> 
          <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPass" placeholder="Senha">       
        </div>                              
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-block login-button" (click)="login()">Login</button>
      </div>
    </div>    
    <div class="row">
      <div class="col">
        <div (click)="goToSignup()" style="cursor: pointer;">
          <span><b>Não tem conta? Clique aqui!</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
