<div>
  <div class="row" style="margin-top: 2%;">
    <div class="col" style="margin-left:2%">
      <ul class="list-group">
          <li class="list-group-item list-group-item-light"><b>Valor Avulso</b>
            <span style="float:right">Atualizado em: {{avulso.updated_at}}</span></li>
          <li class="list-group-item">
            <input type="number" class="form-control" [(ngModel)]="avulso.price" placeholder="Valor p/ Hora">   
          </li>
          <li class="list-group-item">
              <button class="btn btn-success" (click)="salvar(avulso)">Salvar</button>              
          </li>          
        </ul>
    </div>
    <div class="col" style="margin-right:2%">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><b>Valor Mensal</b>
            <span style="float:right">Atualizado em: {{mensal.updated_at}}</span></li>
            <li class="list-group-item">
              <input type="number" class="form-control" [(ngModel)]="mensal.price" placeholder="Valor p/ Mês">   
            </li>
            <li class="list-group-item">
                <button class="btn btn-success" (click)="salvar(mensal)">Salvar</button>              
            </li>          
          </ul>
      </div>
  </div>
  <div class="row" style="margin-top: 2%;">
    <div class="col" style="margin-left:2%; margin-right:2%">
      <ul class="list-group">
          <li class="list-group-item list-group-item-light">
            <div class="row">
              <div class="col col-11">
                  <b>Serviços Adicionais</b>
              </div>
              <div class="col col-1">
                  <button class="btn btn-primary" (click)="clear()">Novo</button>   
              </div>
            </div>
          </li>
          <li class="list-group-item">
          <div class="row">
          <div class="col col-9">
              <input type="text" class="form-control" [(ngModel)]="cadastro.description" placeholder="Descrição">   
            </div>
            <div class="col col-2">
               <input type="number" class="form-control" [(ngModel)]="cadastro.price" placeholder="Valor">   
              </div>            
            <div class="col col-1">
              <button class="btn btn-success" (click)="salvarServico(cadastro)">Salvar</button>   
            </div>
          </div>
          </li>
          <li class="list-group-item" *ngFor="let servico of lista">
            <div class="row">
              <div class="col col-9">
                {{servico.description}}
              </div>
              <div class="col col-1">
                R$ {{servico.price}}
              </div>
              <div class="col col-1">
                <a href="javascript:void(0)" (click)="goDetail(servico)" class="card-link">Editar</a>
              </div>
              <div class="col col-1">
                <a href="javascript:void(0)" (click)="excluir(servico)" class="card-link" style="color:red">Excluir</a>
              </div>
            </div>                         
          </li>          
        </ul>
    </div>
  </div>


</div>