<div style="margin:5%;">

  <ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-header">
      <h5 class="modal-title text-center">Detalhes estacionamento - {{price.title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-user fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Tipo usuário</b><br/>
            {{price.userType}}
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.qtHours">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-clock-o fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Tempo</b><br/>
            {{price.qtHours}} Horas
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.parkingLotPrice">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Valor</b><br/>
            R$ {{price.parkingLotPrice}}
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.totalAdditionalServices">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-cart-plus fa-2x"></i>
          </div>
          <div class="col col-3">
            <b>Adicionais</b><br/>
            R$ {{price.totalAdditionalServices}}
          </div>
          <div class="col col-6" style="padding:0px; font-size:0.8em; border-style:dashed !important; border-width: 1px; border-color:silver">            
            <div *ngIf="!price.descriptionServices" style="text-align:center">
              <i  class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin-top:5%"></i>
            </div>
            <div *ngFor="let descService of price.descriptionServices">
              <i>{{descService.description}} - R${{descService.price}}</i><br/>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="price.totalParkingLot">
        <div class="row">
          <div class="col col-2">
            <i class="fa fa-usd fa-2x"></i>
          </div>
          <div class="col col-10">
            <b>Total</b><br/>
            R$ {{price.totalParkingLot}}
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">             
      <button class="btn btn-success" style="float:right" type="button" (click)="d()">Fechar</button>
    </div>      
  </ng-template>   

  <ul class="list-group" *ngIf="svc.role==1 || svc.role==2">
    <li class="list-group-item list-group-item-light"><b>Opções de Pesquisa</b>      
    </li>      
  </ul>  

  <ng2-smart-table *ngIf="svc.role==1 || svc.role==2" [settings]="settings" [source]="listaVeiculos" 
  (edit)="openDetail($event, content)"></ng2-smart-table>

  <div class="card" style="width: 18rem; margin:3% auto;" *ngIf="svc.role==3 || svc.role==4">
    <img class="card-img-top" src="./assets/imgs/fundo-foto.png" alt="Card image cap">
    <div class="card-body" *ngIf="!dadosOK">        
      <input type="text" class="form-control" [(ngModel)]="placa" placeholder="Digite a Placa">   
      <hr/>
      <button type="button" class="btn btn-success btn-block" (click)="consultaAnonima()">OK</button>
    </div>
    <div *ngIf="dadosOK">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="font-weight: bold;">{{placa}}</li>
        <li class="list-group-item">{{dadosVeiculo.model}}</li>
        <li class="list-group-item">{{dadosVeiculo.color}}</li>          
      </ul>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">    
          <div class="row" style="text-align:center">
            <div class="col">
              <div class="form-group">
                <div class="row">
                  <div class="col col-2">
                    <i class="fa fa-user fa-2x" style="margin-left:50px"></i>
                  </div>
                  <div class="col col-10">
                    <b>Tipo usuário</b><br/>
                    {{price.userType}}
                  </div>
                </div>
              </div>        
            </div>                
          </div>
          <div class="row" style="text-align:center">
            <div class="col col-6">
              <div class="form-group" *ngIf="price.qtHours">
                <div class="row">
                  <div class="col col-2">
                    <i class="fa fa-clock-o fa-2x" style="margin-left:25px"></i>
                  </div>
                  <div class="col col-10">
                    <b>Tempo</b><br/>
                    {{price.qtHours}} Horas
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-6">
              <div class="form-group" *ngIf="price.parkingLotPrice">
              <div class="row">
                <div class="col col-2">
                  <i class="fa fa-car fa-2x" style="margin-left:25px"></i>
                </div>
                <div class="col col-10">
                  <b>Valor</b><br/>
                  R$ {{price.parkingLotPrice}}
                </div>
              </div>
            </div>
           </div>      
          </div>              
          <div class="row" style="text-align:center">
            <div class="col col-6">
              <div class="form-group" *ngIf="price.totalAdditionalServices">
                <div class="row">
                  <div class="col col-2">
                    <i class="fa fa-cart-plus fa-2x" style="margin-left:25px"></i>
                  </div>
                  <div class="col col-10">
                    <b>Adicionais</b><br/>
                    R$ {{price.totalAdditionalServices}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-6">
              <div class="form-group" *ngIf="price.totalParkingLot">
                <div class="row">
                  <div class="col col-2">
                    <i class="fa fa-usd fa-2x" style="margin-left:25px"></i>
                  </div>
                  <div class="col col-10">
                    <b>Total</b><br/>
                    R$ {{price.totalParkingLot}}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </li>        
      </ul>      
      <div class="card-body">
        <button class="btn btn-warning btn-block" (click)="clear()">Voltar</button>        
      </div>
    </div>
  </div>

</div>