<div>
  <div class="card" style="width: 18rem; margin:3% auto;">
      <img class="card-img-top" src="./assets/imgs/fundo-foto.png" alt="Card image cap">
      <div class="card-body" *ngIf="!dadosOK">        
        <input type="text" class="form-control" [(ngModel)]="placa" maxlength="8" placeholder="Digite a Placa">   
        <hr/>
        <button type="button" class="btn btn-success btn-block" (click)="getDadosPlaca()">OK</button>
      </div>
      <div *ngIf="dadosOK">
        <ul class="list-group list-group-flush" *ngIf="!preencherManual">
          <li class="list-group-item" style="font-weight: bold;">{{placa}}              
            <span *ngIf="mensal" style="float:right; color:#FBC02D">
              <i class="fa fa-star" aria-hidden="true"></i> - Mensal
            </span>                
          </li>
          <li class="list-group-item">{{dadosVeiculo.model}}</li>
          <li class="list-group-item">{{dadosVeiculo.color}}</li>  
          <li class="list-group-item" *ngIf="!mensal">
            <select [(ngModel)]="descPlano" class="form-control form-control-sm">
              <option>Avulso</option>
              <option>Mensal</option>                                
            </select>
          </li>        
        </ul>
        <ul class="list-group list-group-flush" *ngIf="preencherManual">
          <li class="list-group-item" style="font-weight: bold;">
            {{placa}}            
          </li>          
          <li class="list-group-item">
            <input type="text" class="form-control" [(ngModel)]="dadosVeiculo.model" placeholder="Modelo">   
          </li>
          <li class="list-group-item">
            <input type="text" class="form-control" [(ngModel)]="dadosVeiculo.color" placeholder="Cor">   
          </li>
          <li class="list-group-item" *ngIf="!mensal">
            <select [(ngModel)]="descPlano" class="form-control form-control-sm">
              <option>Avulso</option>
              <option>Mensal</option>                                
            </select>
          </li>
        </ul>
        <h4 style="text-align:center !important">{{dataAtualFormatada()}}</h4> 
        <div class="card-body">          
          <button class="btn btn-success" (click)="realizarEntrada(content)">Realizar Entrada</button>
          <button class="btn btn-danger" (click)="cancelarEntrada()">Cancelar</button>
        </div>
      </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Serviços Adicionais</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-check" *ngFor="let service of lista; let i = index">
          <input class="form-check-input" type="checkbox" (change)="changeCheckbox($event,service)">
          <label class="form-check-label" for="defaultCheck1">
            {{service.description}} - {{service.price}}
          </label>
        </div>          
      </div>
      <div class="modal-footer">      
        <button type="button" class="btn btn-primary" (click)="addServices(); c()">Confirmar</button>      
      </div>
    </ng-template>    

</div>