<div class="principal transparent-header" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 0.7; background-color:#1976D2 !important">
        <a class="navbar-brand" href="#" style="color:white">Estacionamento</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">        
            <li class="nav-item" *ngIf="svc.role==1 || svc.role==2">
              <a class="nav-link" [routerLink]="['/entradas']" [routerLinkActive]="['active-item']" style="color:white">Entrada</a>
            </li>
            <li class="nav-item" *ngIf="svc.role==1 || svc.role==2">
              <a class="nav-link"  [routerLink]="['/patio']" [routerLinkActive]="['active-item']" style="color:white">Controle do Pátio</a>
            </li>            
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/pesquisa']" [routerLinkActive]="['active-item']" style="color:white">Pesquisa</a>
            </li>            
            <li class="nav-item" *ngIf="svc.role==1">
              <a class="nav-link"  [routerLink]="['/relatorios']" [routerLinkActive]="['active-item']" style="color:white">Relatórios</a>
            </li>                        
            <li class="nav-item" *ngIf="svc.role==1">
              <a class="nav-link"  [routerLink]="['/valores']" [routerLinkActive]="['active-item']" style="color:white">Preços</a>
            </li>                        
            <li class="nav-item" *ngIf="svc.role==1">
              <a class="nav-link"  [routerLink]="['/funcionarios']" [routerLinkActive]="['active-item']" style="color:white">Funcionários</a>
            </li>                                    
          </ul>
          <ul class="navbar-nav ml-auto">        
            <li class="nav-item">
              <button class="btn btn-dark" (click)="logout()">Sair</button>
            </li>          
          </ul>
        </div>
      </nav>
  <div style="height:100%; width:100%">    
    <router-outlet></router-outlet>
  </div>  
</div>

