.principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  height: 100%;
}

.active-item{
  color:white; 
  border:solid 1px;   
}