.dashboard-text{
  color:#2F9273;
  text-align: center;
}

.dashboard-text2{
  color:#0B8288;
  text-align: center;  
}

.dashboard-icons{
  display:inline-block; 
  text-align:right;
  color: grey;
}