<ul class="list-group" style="margin:2%">
  <li class="list-group-item">
    <div class="row">
      <div class="col col-5">
        <b>Relatórios Transacionais</b>        
      </div>
      <div class="col col-4">                          
        <div class="input-group" style="margin-bottom:0px !important">              
          <div class="input-group-prepend">
            <div class="input-group-text" id="basic-addon2">
              Configurar Período 
            </div>              
          </div>
          <input type="date" [(ngModel)]="selectPeriodIni" class="form-control form-control-sm">               
          <span style="margin-left:20px; margin-top:5px; float: right;">até</span>
        </div>        
        
      </div>
      <div class="col col-3">          
        <div class="input-group" style="margin-bottom:0px !important">              
          <input type="date" [(ngModel)]="selectPeriodFim" class="form-control form-control-sm">     
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="changePeriodo()" type="button"><i class="fa fa-check"></i></button>            
          </div>           
        </div>
      </div>      
    </div>            
  </li>
</ul>

<ul class="list-group" style="margin:2%">
  <div class="row">
    <div class="col col-4">
      <div style="margin-bottom:2%">
        RESUMO DO DIA        
      </div>      
      <li class="list-group-item">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Entradas
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-car"></i>                
              </div>                          
            </div>              
          </div>          
          <div *ngIf="infoDia.entradas" class="col col-12 dashboard-text">            
            <h1><b>{{infoDia.entradas}}</b></h1>
          </div>          
          <div *ngIf="!infoDia.entradas" class="col col-12 dashboard-text">                        
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>          
        </div>        
      </li>  

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Pagos      
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-usd"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoDia.pagos" class="col col-12 dashboard-text">
              <h1><b>R$ {{infoDia.pagos}}</b></h1>
          </div>
          <div *ngIf="!infoDia.pagos" class="col col-12 dashboard-text">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>                    
        </div>        
      </li>  

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Adicionais 
              </div>
              <div class="col col-5 dashboard-icons">                
                <i class="fa fa-cart-plus"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoDia.adicionais" class="col col-12 dashboard-text">
            <h1><b>R$ {{infoDia.adicionais}}</b></h1>
          </div>
          <div *ngIf="!infoDia.adicionais" class="col col-12 dashboard-text">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>          
        </div>        
      </li>        

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Total    
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-usd"></i>
                <i class="fa fa-usd"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoDia.total" class="col col-12 dashboard-text">
            <h1><b>R$ {{infoDia.total}}</b></h1>
          </div>
          <div *ngIf="!infoDia.total" class="col col-12 dashboard-text">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>                 
        </div>        
      </li>              

    </div>

    <div class="col col-4">
      <div>        
        <div class="row">
          <div class="col col-12">
            <div style="margin-bottom:2%">
              POR PERÍODO         
            </div>
          </div>          
        </div>
      </div>      
      <li class="list-group-item">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Entradas
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-car"></i>                
              </div>                          
            </div>              
          </div>          
          <div *ngIf="infoPeriodo.entradas" class="col col-12 dashboard-text2">            
            <h1><b>{{infoPeriodo.entradas}}</b></h1>
          </div>          
          <div *ngIf="!infoPeriodo.entradas" class="col col-12 dashboard-text2">                        
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>          
        </div>        
      </li>  

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Pagos      
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-usd"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoPeriodo.pagos" class="col col-12 dashboard-text2">
              <h1><b>R$ {{infoPeriodo.pagos}}</b></h1>
          </div>
          <div *ngIf="!infoPeriodo.pagos" class="col col-12 dashboard-text2">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>                    
        </div>        
      </li>  

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Adicionais 
              </div>
              <div class="col col-5 dashboard-icons">                
                <i class="fa fa-cart-plus"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoPeriodo.adicionais" class="col col-12 dashboard-text2">
            <h1><b>R$ {{infoPeriodo.adicionais}}</b></h1>
          </div>
          <div *ngIf="!infoPeriodo.adicionais" class="col col-12 dashboard-text2">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>          
        </div>        
      </li>        

      <li class="list-group-item" style="margin-top:5%">
        <div class="row">
          <div class="col col-12">
            <div class="row">
              <div class="col col-7" style="color:grey">
                Total    
              </div>
              <div class="col col-5 dashboard-icons">
                <i class="fa fa-usd"></i>
                <i class="fa fa-usd"></i>                
              </div>                          
            </div>              
          </div>
          <div *ngIf="infoPeriodo.total" class="col col-12 dashboard-text2">
            <h1><b>R$ {{infoPeriodo.total}}</b></h1>
          </div>
          <div *ngIf="!infoPeriodo.total" class="col col-12 dashboard-text2">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
          </div>                 
        </div>        
      </li>               
    </div>    
    <div class="col col-4">
        <!-- <ngx-charts-bar-horizontal
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-horizontal> -->
    </div>
  </div>
</ul>
  
