
$transparent-white: rgba(255, 255, 255, .6);
// Fullscreen centered image background
.principal {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
  height: 100%;
}
.scroll-content {
  background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.logo {
  width: 50%;
  height: auto;
  max-width: 12em;
  margin: 0 auto;
  padding-bottom: 50px;
}
.no-border {
  border-bottom: 0 !important;
  box-shadow: none !important;
}
.row {
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .col {
    margin: 0 auto;
    max-width: 40%;
  }
}
span {
  color: white;
}
.list-item {
  // border-radius: 30px !important;    
  margin-bottom: 10px;
  background-color: #f6f6f6;
  opacity: 0.7;
  font-size: 0.9em;
}
.list {
  margin: 0;
}
.login-button {
  width: 100%;
  // border-radius: 30px;    
  // border: 1px solid #fff;
  background-color: #39acdc;
  color: white;
}

.fb-btn span{
  color:#4867AA;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.strike>span {
  position: relative;
  display: inline-block;
  font-weight: bold;
}
.strike>span:before,
.strike>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: $transparent-white;
}
.strike>span:before {
  right: 100%;
  margin-right: 15px;
}
.strike>span:after {
  left: 100%;
  margin-left: 15px;
}