<div class="principal transparent-header">
    <div style="margin-top:5%">
      <div class="row">
        <div class="col">
          <img class="logo" src="./assets/imgs/logo.png" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">              
            <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="name">              
          </div>
          <div class="form-group">              
            <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="email">              
          </div>
          <div class="form-group">              
            <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="password">             
          </div>
          <div class="form-group">              
            <input type="password" class="form-control" placeholder="Confirmar Senha" [(ngModel)]="conf_password">              
          </div>                   
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn login-button" (click)="register()">Registrar</button><hr/>
          <button class="btn btn-danger btn-block" (click)="back()">Voltar</button>        
        </div>
      </div>              
    </div>
  </div>
  